@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Work+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.under {
  text-decoration: line-through;
  border: none;
  color: red;
}

header {
  width: 100%;
  height: 77rem;
  background: #DEECEC;
  padding: 4rem 0;
}

.nav {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.nav ul a {
  color: #2C5F63;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  font-family: "Work Sans", sans-serif;
}

.nav__links {
  width: 60.7rem;
}

.nav__icons {
  width: 13.3rem;
}

.nav__icons::after {
  content: "";
  position: absolute;
  background: #F04726;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 12.3rem;
  margin-top: -2rem;
}

.nav__icons .sms {
  content: "4";
  position: absolute;
  color: #fff;
  margin-left: -0.5rem;
  margin-top: -0.3rem;
  z-index: 10;
  font-size: 1.2rem;
}

hr {
  width: 100%;
  background: #84BABE;
}

.sumemer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.8rem;
  width: 100%;
  height: 58.2rem;
}

.sumemer__txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.1rem;
  align-items: flex-start;
}

.sumemer__txt span {
  color: #589195;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 6rem;
}

.sumemer__txt h1 {
  color: #3A415C;
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem;
}

.sumemer__txt p {
  color: #707686;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
}

.sumemer__txt button {
  padding: 1.1rem 3rem;
  border-radius: 3.8rem;
  background-color: #589195;
  color: #fff;
}

.sumemer__image img {
  width: 100%;
}

.sumemer__yulduz {
  position: absolute;
  margin-top: 57.5rem;
  margin-left: 45rem;
}

.latesarrival {
  width: 100%;
  margin: 7.2rem 0;
}

.latesarrival__boxs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10.5rem;
}

.latesarrival__boxs__box {
  width: 15.7rem;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.latesarrival__boxs .image {
  width: 50%;
  height: 40%;
}

.latesarrival__boxs h1 {
  font-family: "Work Sans", sans-serif;
  color: #3A415C;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.1rem;
}

.latesarrival__boxs p {
  color: #707686;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.latesarrival__txt-2 {
  margin: 6.1rem 0;
}

.latesarrival__txt-2 h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  color: #3A415C;
}

.latesarrival__txt-2 p {
  font-family: 'work sans', sans-serif;
  color: #707686;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.latesarrival__cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.latesarrival__cards__card {
  width: 25.5rem;
  height: 42rem;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: baseline;
}

.latesarrival__cards__card__img {
  width: 100%;
  height: 33rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: #F7F8FC;
}

.latesarrival__cards__card__img__top {
  position: absolute;
  margin-top: -21rem;
  width: 22rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.latesarrival__cards__card__img__top span {
  color: #fff;
  background: #589195;
  width: 3.8rem;
  height: 1.7rem;
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latesarrival__cards__card__img__top span:nth-child(2) {
  background: #F04726;
}

.latesarrival__cards__card__text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.latesarrival__cards__card__text h1 {
  font-family: 'Work sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 6rem;
  margin-right: 6.6rem;
}

.latesarrival__cards__card__text__stars {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 1.9rem;
}

.latesarrival__cards__card__text__stars__txt p {
  font-family: 'work sans', sans-serif;
  color: #707686;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.latesarrival__cards__card__text__stars__price {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.latesarrival__cards__card__text__stars__price p {
  font-family: 'Work sans', sans-serif;
  color: #31797E;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 6rem;
}

.latesarrival__cards__card__text__stars__price__right {
  width: 11.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.latesarrival__cards__card__text__stars__price__right span {
  width: 2.4rem;
  height: 2.5rem;
  border: 0.8px solid #A5A9B3;
  text-align: center;
}

.latesarrival__cards__card__text__stars__price__right span p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
  margin-left: .2rem;
}

.latesarrival__cards__card__text__stars__price__right p {
  margin-right: 25rem;
  color: #707686;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
}
